@using Common;
@model IplusOAEntity.SocialOrgEntity

<style>
    .panel-tool {
        width: 95%;
        float: left;
    }

    .item_title {
        background: none;
    }
</style>
<script type="text/javascript">
    function check_incharge_form() {

        return true;
    }
</script>
<div id="tt">
    @*<a href="@Url.Action("Index", "Sorg")" style=" width:100px;">返回列表</a>*@
    <a href="@HttpContext.Current.Request.UrlReferrer" style=" width:100px;padding-left:20px;">返回列表</a>
</div>
<div id="p" class="easyui-panel" title="编辑" style="height:530px;padding:10px;"
     data-options="iconCls:'icon-edit',closable:false,tools:'#tt'">

    <form name="PostEdit" id="PostEdit" action="@Url.Action("PostEdit")" method="post" enctype="multipart/form-data" onsubmit="return check_incharge_form();">
        <table class="form" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td colspan="2" class="topTd"></td>
                </tr>
                <tr>
                    <td class="item_title">登记名称:</td>
                    <td class="item_input"><input type="text" class="textbox require" name="Name" value="@Model.Name" /></td>
                </tr>

                <tr>
                    <td class="item_title">
                        组织类型:
                    </td>
                    <td class="item_input">
                        <select id="Type" name="Type">
                            <option value="SS">枢纽型社会组织</option>
                            <option value="MF">民非类社会组织</option>
                            <option value="ST">社团类社会组织</option>
                            <option value="SY">商业类社会组织</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="item_title">登记证号:</td>
                    <td class="item_input"><input type="text" class="textbox require" name="RegNO" value="@Model.RegNO" /></td>
                </tr>
                <tr>
                    <td class="item_title">登记类型:</td>
                    <td class="item_input"><input type="text" class="textbox require" name="RegType" value="@Model.RegType" /></td>
                </tr>
                <tr>
                    <td class="item_title">机构代码证号:</td>
                    <td class="item_input"><input type="text" class="textbox require" name="OrgNo" value="@Model.OrgNo" /></td>
                </tr>
                <tr>
                    <td class="item_title">业务范围:</td>
                    <td class="item_input"><textarea class="textbox require" name="BusDesc" rows="5" cols="70"> @Model.BusDesc </textarea></td>
                </tr>
                <tr>
                    <td class="item_title">登记时间:</td>
                    <td class="item_input"><input type="text" class="textbox require" name="RegTime" value="@(Model.RegTime.HasValue ? Model.RegTime.Value.ToString("yyyy-MM-dd") : "")" onclick="WdatePicker({dateFmt:'yyyy-mm-dd'})" /></td>
                </tr>
                <tr>
                    <td class="item_title">有效期:</td>
                    <td class="item_input"><input type="text" class="textbox require" name="EffectiveTime" value="@(Model.EffectiveTime.HasValue ? Model.EffectiveTime.Value.ToString("yyyy-MM-dd") : "")" onclick="WdatePicker({dateFmt:'yyyy-mm-dd'})" /></td>
                </tr>
                <tr>
                    <td class="item_title">运营状态:</td>
                    <td class="item_input">
                        <label>有效<input type="radio" name="State" value="1" @(@Model.State != -1 ? "checked=\"checked\"" : "") /></label>
                        <label>无效<input type="radio" name="State" value="-1" @(@Model.State == -1 ? "checked=\"checked\"" : "") /></label>
                    </td>
                </tr>


                <tr>
                    <td class="item_title"></td>
                    <td class="item_input">
                        @*<input type="submit" class="button" value="保存修改">*@
                        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">保存修改</a>
                        <input type="hidden" name="Id" value="@Model.Id" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="bottomTd"></td>
                </tr>
            </tbody>
        </table>
        <script>

            $(document).ready(function () {


                $("#Type").val("@Model.Type");

            });
  
function submitForm() {
    // var url = "/SocSer/PostNoTakeIn" + '?detailId=' + id + "&state=" + state + "&msg=" + msg;
    $('#PostEdit').submit();
}
 
        </script>
    </form>
</div>