@using Common;

@Html.IncludeCSS("~/Content/plug-in/ztree/css/zTreeStyle/zTreeStyle.css")
@Html.IncludeCSS("~/Content/Css/demo.css")
@Html.IncludeScript("~/Content/plug-in/ztree/js/jquery.ztree.core-3.5.js")
@Html.IncludeScript("~/Content/plug-in/ztree/js/jquery.ztree.excheck-3.5.js")
@Html.IncludeCSS("~/Content/EasyUI/themes/gray/easyui.css")
@Html.IncludeCSS("~/Content/EasyUI/themes/icon.css")

@Html.IncludeScript("~/Content/EasyUI/jquery.easyui.min.js")
<style>
    .panel-tool {
        width: 95%;
        float: left;
    }

    .item_title {
        background: none;
    }
</style>
<script type="text/javascript">


    var setting = {
        view: {
            dblClickExpand: false,
            showLine: true,
            selectedMulti: false

        },
        check: {
            enable: true ,
            chkStyle: "radio",
            radioType: "all"
        },
        data: {
            simpleData: {
                enable: true,
                idKey: "Id",
                pIdKey: "PId",
                rootPId: ""
            },
            key: {
                name: "Name"
            }

        },
        callback: {
            beforeCheck: beforeCheck,
            onCheck: onCheck
        }
    };

    var zNodes =@(Html.Raw(ViewData["Department_List"].ToString()));


    function beforeCheck(treeId, treeNode) {

    }
    function onCheck(e, treeId, treeNode) {
        $("#DeptId").val(treeNode.Id);
        $("#CoverCommunity").val(treeNode.Name);
    }

    function showMenu() {
        $("#menuContent").slideDown("fast");
        $("body").bind("mousedown", onBodyDown);
    }
    function hideMenu() {
        $("#menuContent").fadeOut("fast");
        $("body").unbind("mousedown", onBodyDown);
    }
    function onBodyDown(event) {
        if (!(event.target.id == "menuBtn" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length>0)) {
            hideMenu();
        }
    }


    $(document).ready(function () {
        $.fn.zTree.init($("#ztree"), setting, zNodes);
    });

</script>
<div class="main">

    <div class="blank5"></div>
    <form name="PostAddVolExcel" id="PostAddVolExcel" action="@Url.Action("PostAddVolExcel")" method="post" enctype="multipart/form-data">
        <table class="form" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td colspan="2" class="topTd"></td>
                </tr>

                <tr>
                    <td class="item_title">
                        行政级别:
                    </td>
                    <td class="item_input">
                        <input type="hidden" name="DeptId" id="DeptId" />
                        <input type="text" class="textbox require" id="CoverCommunity" name="CoverCommunity" onclick="showMenu(); return false;" />
                        <div id="menuContent" class="menuContent" style="display:none; z-index:10000; position: absolute;">
                            <ul id="ztree" class="ztree" style="margin-top:0;  overflow:scroll; height:250px;"></ul>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td class="item_title">
                        社会组织:
                    </td>
                    <td class="item_input">
                        <select name="socialNO">
                            <option value="-1">无</option>
                            @foreach (var soc in ViewData["SocialOrg_List"] as IList<IplusOAEntity.SocialOrgEntity> ?? new List<IplusOAEntity.SocialOrgEntity>())
                            {
                                <option value="@soc.SocialNO">@soc.Name</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="item_title">选择Excel模板文件:</td>
                    <td class="item_input"><input type="file" name="volInfoExcel" /></td>
                </tr>

                <tr>
                    <td class="item_title"></td>
                    <td class="item_input">

                        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">导入</a>
                        @*<a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">重置</a>*@
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="bottomTd"></td>
                </tr>
            </tbody>
        </table>
        <script>
            function submitForm() {
                // var url = "/SocSer/PostNoTakeIn" + '?detailId=' + id + "&state=" + state + "&msg=" + msg;
                $('#PostAddVolExcel').submit();
            }
            function clearForm() {
                $('#PostAddVolExcel').form('clear');
            }

            function check_incharge_form() {

                return true;
            }
        </script>
    </form>
</div>