@model  BackWebAdmin.Models.SelectVolModel
@using MvcContrib.UI.Grid
@using MvcContrib.Pagination;
@using MvcContrib.UI.Pager;
@using Common;

<style>
    .combo {
        vertical-align: bottom;
    }
</style>
<form id="indexFrom">

    <div style="float: left; height: 40px; text-align: center;">
        <span>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" title="新增" href="@Url.Action("Add")">新增</a>
           @* <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" title="导入志愿者" href="@Url.Action("AddVolExcel")">导入志愿者</a>*@
       
            <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" title="导入志愿者" href="javascript: AddVolExcel()">导入志愿者</a>
            <a class="easyui-linkbutton"  href="@Url.Content("~/Content/志愿者导入模板.xls")">下载志愿者Excel模板</a>
         </span>
        <span style="margin-left:30px;">
            <span class="combo">

                <select id="Type" class="easyui-combobox" data-options="" name="Type" style="width: 120px; ">
                    <option value="" selected="selected">全部</option>
                    <option value="普通用户">普通用户</option>
                    <option value="志愿者">志愿者</option>
                </select>

                证件号<input type="text" name="CardNum" value="@Model.CardNum" />
                手机号<input type="text" name="Phone" value="@Model.Phone" />
                姓名<input type="text" name="RealName" value="@Model.RealName" />
            </span>

            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">查询</a>
        </span>
    </div>
</form>
<div class="grid_box">
    <div class="grid_top">
    </div>
    @Html.Grid(Model.VolList).Columns(column =>
                                  {
                                       column.CheckBox(x => x.Id);
                                      column.For(x => x.Id).Named("用户社区编号");
                                      column.For(x => x.CardType).Named("证件类型");
                                      column.For(x => x.Type).Named("类型");
                                      column.For(x => x.Address).Named("地址");
                                      column.For(x => x.CardNum).Named("证件号");
                                      column.For(x => x.EMail).Named("邮箱");
                                      column.For(x => x.Phone).Named("手机号");
                                      column.For(x => x.QQ).Named("QQ号");
                                      column.For(x => x.RealName).Named("姓名"); 
                                      column.For(x => x.VID).Named("自愿者编号");
                                    
                                      column.Buttons(btns => btns.Add(x => Html.ActionLink("编辑", "Edit", new { id = x.Id }))
                                                                 //.Add(x => Html.ActionLink("查看", "View", new { id = x.Id }))
                                                               //  .Add(x => Html.ActionLink("领奖", "PrizeRecord", "Prize", new { id = x.Id },null))
                                                                 .Add(x => Html.ScriptLink("领奖", "PrizeRecord({0})".FormatWith(x.Id)))
                                                                // .Add(x => Html.ActionLink("领奖记录", "View", new { id = x.Id }))
                                                                 .Add(x => Html.ActionLink("领奖记录", "PrizeRecordIndex", "Prize", new { userId = x.Id }, null))
                                                              //  .Add(x => Html.ScriptLink("删除", "deleteVol({0})".FormatWith(x.Id)))
                                                                 );
                                  }).Complex(ViewData)
    <div class="grid_foot">
    </div>
</div>
<div class="blank5">
</div>
@Html.Pager(Model.VolList)


<script type="text/javascript">

    function deleteVol(id) {

        var url = '@Url.Action("Delete")' + '?id=' + id;
        deleteMethod(id, "Delete");
        //showAjaxResult(url, "删除用户中......", 600, 400);
    }

    function PrizeRecord(id) {

        var url = '@Url.Action("PrizeRecord", "Prize")' + '?userId=' + id;

        showAjaxResult(url, "领取奖品", 450, 240);
    }


    function AddVolExcel() {

        var url = '@Url.Action("AddVolExcel")' + '?id=' + 00;

        showAjaxResult(url, "导入志愿者", 650, 300);
    }


    $("#Type").val("@Model.Type");
    function submitForm() {
        // var url = "/SocSer/PostNoTakeIn" + '?detailId=' + id + "&state=" + state + "&msg=" + msg;
        $('#indexFrom').submit();
    }
</script>