@using  Common;
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>贵阳市社区公益平台-@ViewBag.Title</title>
    @Html.IncludeCSS("~/Content/Css/style.css")
    <script type="text/javascript">
        var ROOT = '@Url.Content("~/")';
        var MODULE_NAME = '@ViewContext.RouteData.Values["controller"]';
        var ACTION_NAME = '@ViewContext.RouteData.Values["action"]';
    </script>
    @*@Html.IncludeScript("~/Content/Js/jquery.min.js")*@
    @Html.IncludeScript("~/Content/EasyUI/jquery.min.js")
    @Html.IncludeScript("~/Content/Js/jquery.timer.js")
    @Html.IncludeScript("~/Content/Js/common.js")
    @Html.IncludeScript("~/Content/JS/kindediter/kindeditor-min.js")
    @Html.IncludeScript("~/Content/JS/kindediter/zh_CN.js")
    @Html.IncludeScript("~/Content/Js/jquery.bgiframe.js")
    @Html.IncludeScript("~/Content/Js/jquery.weebox.js")
    @Html.IncludeCSS("~/Content/Css/weebox.css")
    @Html.IncludeCSS("~/Content/CSS/kindediter/default/default.css")

    @Html.IncludeCSS("~/Content/EasyUI/themes/gray/easyui.css")
    @Html.IncludeCSS("~/Content/EasyUI/themes/icon.css")

    @Html.IncludeScript("~/Content/EasyUI/jquery.easyui.min.js")

    @RenderSection("HeadSection", required: false)
</head>
<body>
    <div class="Center-Main">
        @RenderBody()
    </div>
    <div id="info"></div>
</body>
</html>