@using Common;
@model  List<IplusOAEntity.MenuEntity>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>贵阳社区公益平台 - 管理平台 </title>
    @Html.IncludeCSS("~/Content/EasyUI/themes/gray/easyui.css")
    @Html.IncludeCSS("~/Content/EasyUI/themes/icon.css")
    @Html.IncludeScript("~/Scripts/jquery-1.10.2.min.js")
    @Html.IncludeScript("~/Content/EasyUI/jquery.easyui.min.js")
    @*<script src="~/Content/JS/jquery.min.js"></script>*@

    <script>
        var index = 0;
        function addTab(name, url) {
            if ($('#tt').tabs('exists', name)) {
                $('#tt').tabs('select', name);
            } else {
                $('#tt').tabs('add', {
                    title: name,
                    content: " <iframe scrolling=\"yes\" frameborder=\"0\" src=" + url + " style=\"width:100%;height:530px;\"></iframe>",
                    iconCls: 'icon-reload',
                    closable: true
                    //,
                    //tools: [{
                    //    iconCls: 'icon-mini-refresh',
                    //    handler: function () {
                    //        alert('refresh');
                    //    }
                    //}]
                });
            }
        }

    </script>
</head>
<body class="easyui-layout">
    <div data-options="region:'north',split:true" style="height: 60px;">
        <div style="float:right;  ">
            <span>欢迎 &nbsp; @ViewBag.username  &nbsp;用户使用贵阳市社区公益信息平台</span>
            <a href="@Url.Action("Out", "Login")" target="_parent">注销</a>
        </div>
    </div>
    <div data-options="region:'west',split:true,title:'菜单'" style="width:150px;">
        @*<iframe scrolling="yes" frameborder="0" src="/home/Left" style="width:100%;height:530px;"></iframe>*@

        <div id="aa" class="easyui-accordion">


            @foreach (var item in Model)
                {
                    <div title="@item.name" data-options="iconCls:'icon-reload'" style="overflow:auto; text-align:center;">

                        @foreach (var chlid in item.ChildList)
                        {
                            if (string.IsNullOrEmpty(chlid.AText))
                            {
                                 <div style="padding-bottom:5px; padding-top:5px;"><a style="color: #0099FF; color: black; " href="#" onclick="addTab('@chlid.name', '@chlid.file')">@chlid.name</a>  </div>
                            }
                            else
                            {
                                 <div style="padding-bottom:5px; padding-top:5px;">@Html.Raw(chlid.AText) </div>
                            }
                           
                        }
                    </div>
                }
          
            @*<div title="辖区服务统计" data-options="iconCls:'icon-reload'" style="overflow:auto; text-align:center;">

              
                    <div style="padding-bottom:5px; padding-top:5px;"><a style="color: #0099FF; color: black; " href="dp/index" target="_blank" >服务统计实况</a>  </div>
                
            </div>*@

            @*<div title="Title1" data-options="iconCls:'icon-ok'" style="overflow:auto">
                <a style="color:#0099FF;">Accordion for jQuery</a>
                <a style="color:#0099FF;">Accordion for jQuery</a>
                <a style="color:#0099FF;">Accordion for jQuery</a>
                <a style="color:#0099FF;">Accordion for jQuery</a>
                <a style="color:#0099FF;">Accordion for jQuery</a>
            </div>
            <div title="Title1" data-options="iconCls:'icon-ok'" style="overflow:auto">
                <a style="color:#0099FF;">Accordion for jQuery</a>
                <a style="color:#0099FF;">Accordion for jQuery</a>
                <a style="color:#0099FF;">Accordion for jQuery</a>
                <a style="color:#0099FF;">Accordion for jQuery</a>
                <a style="color:#0099FF;">Accordion for jQuery</a>
                <a style="color:#0099FF;">Accordion for jQuery</a>
            </div>*@
        </div>
       
    </div>
    @*<div data-options="region:'east',split:true,collapsed:true,title:'East'" style="width:100px;padding:10px;">east region</div>
        <div data-options="region:'south',border:false" style="height:20px;background:#A9FACD;"></div>*@
    <div data-options="region:'center'">
        <div id="tt" class="easyui-tabs" data-options="tools:'#tab-tools'">
            <div title="首页" data-options="closable:true" style="overflow:hidden">
                <iframe scrolling="no" frameborder="0" src="/home/Main" style="width:100%;height:530px;"></iframe>
            </div>


        </div>

    </div>
</body>
</html>
