@using Common; 
@model IList<Common.SiteMapNode>
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>贵阳社区公益平台</title>
    @Html.IncludeCSS("~/content/css/style.css")
    @Html.IncludeCSS("~/content/css/left.css")
    @Html.IncludeScript("~/content/js/jquery.min.js")
    @Html.IncludeScript("~/content/js/left.js")
    
</head>
<body>
    <dl class="menu">
     
        @foreach (var nav in Model)
        {
            <dt>@nav.ActionName</dt>
            foreach (var sub in nav.ChildNodes)
            {
                <dd><a href="@sub.Url">@sub.ActionName</a></dd>
            }
        }

    </dl>
</body>
</html>