@using Common;
@model  IplusOAEntity.WorkGuideEntity
@{
    Layout = null;
}

@Html.IncludeCSS("~/Content/Css/style.css")
@Html.IncludeCSS("~/Content/plug-in/ztree/css/zTreeStyle/zTreeStyle.css")
@Html.IncludeCSS("~/Content/Css/demo.css")
@Html.IncludeCSS("~/Content/plug-in/uploadify/uploadify.css")
@Html.IncludeCSS("~/Content/EasyUI/themes/gray/easyui.css")
@Html.IncludeCSS("~/Content/EasyUI/themes/icon.css")

<script>
    window.UEDITOR_HOME_serverPath = "@Url.Content("../../../workGuide/ImgFile")";
</script>



<style>
    .panel-tool {
        width: 95%;
        float: left;
    }

    .item_title {
        background: none;
    }
</style>



<div id="tt">
    <a href="@Url.Action("Index", "workguide")" style=" width:100px;">返回列表</a>
</div>
<div id="p" class="easyui-panel" title="新增" style="height:530px;padding:10px;"
     data-options="iconCls:'icon-add',closable:false,tools:'#tt'">

    <form name="postedit" action="@Url.Action("PostEdit")" id="postedit" method="post" enctype="multipart/form-data">
        <table class="form" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td class="item_title">办事指南标题:</td>
                    <td class="item_input">
                        <input type="text" class="textbox require easyui-validatebox" missingmessage="必须填写" data-options="required:true" value="@Model.Title" name="Title" />
                    </td>
                </tr>
                <tr>
                    <td class="item_title">App列表图片:</td>
                    <td class="item_input">
                        @*用来作为文件队列区域*@
                        <div id="fileQueue">
                        </div>
                        <input type="file" name="uploadify" id="uploadify" multiple="true" />
                        <input type="hidden" name="ImgUrl" id="ImgUrl" value="" />
                        双击删除图片
                        <div id="imgQueue">
                            @if (!string.IsNullOrEmpty(Model.ImgUrl))
                            {
                                foreach (var item in Model.ImgUrl.Split('#'))
                                {
                                    if (!string.IsNullOrEmpty(item))
                                    {
                                    <img ondblclick="delImgSocSer(this)" src="@item" title="双击删除图片" alt="" width="160" height="140" />
                                    }

                                }
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="item_title">办事流程说明:</td>
                    <td class="item_input">

                        <input type="hidden" name="Des" id="Des" />
                        <div>
                            <script id="editor" type="text/plain" style="width:800px;height:400px;">
                            </script>
                        </div>
                    </td>
                </tr>



                <tr>
                    <td class="item_title"></td>
                    <td class="item_input">
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <a href="javascript:void(0)" id="btnsubmitForm" class="easyui-linkbutton">修改</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </form>

</div>
@Html.IncludeScript("~/Content/EasyUI/jquery-1.8.0.min.js")
@Html.IncludeScript("~/Content/Js/jquery.timer.js")
@Html.IncludeScript("~/Content/Js/common.js")

@Html.IncludeScript("~/Content/EasyUI/jquery.easyui.min.js")
@*@Html.IncludeScript("~/Content/plug-in/My97DatePicker/WdatePicker.js")

    @Html.IncludeScript("~/Content/plug-in/ztree/js/jquery.ztree.core-3.5.js")
    @Html.IncludeScript("~/Content/plug-in/ztree/js/jquery.ztree.excheck-3.5.js")*@
@Html.IncludeScript("~/Content/plug-in/uploadify/jquery.uploadify-3.1.js")

@Html.IncludeScript("~/Content/plug-in/ueditor/ueditor.config.js")
@Html.IncludeScript("~/Content/plug-in/ueditor/ueditor.all.min.js")
@Html.IncludeScript("~/Content/plug-in/ueditor/lang/zh-cn/zh-cn.js")


@*@Html.IncludeCSS("~/Content/CSS/kindediter/default/default.css")
    @Html.IncludeScript("~/Content/JS/kindediter/kindeditor-min.js")
    @Html.IncludeScript("~/Content/JS/kindediter/zh_CN.js")*@
<script>

    var ueditor = UE.getEditor('editor');

    ueditor.addListener("ready", function () {
        // editor准备好之后才可以使用
        // ueditor.setContent('');

        UE.getEditor('editor').execCommand('insertHtml', '@Html.Raw(Model.Des)');
    });



    function clearForm() {
        $('#postadd').form('clear');
    }
    function delImgSocSer(e) {
        if (!confirm("确认要删除该图片吗？")) {
            return false;
        }
        $(e).remove();
    }


    $(function () {



        function submitForm() {
            $("#imgQueue img").each(function () {
                $("#ImgUrl").val($("#ImgUrl").val() + "#" + $(this).attr("src"));
            });
           //var   html = editor.html();
            $("#Des").val(UE.getEditor('editor').getContent());
            $('#postedit').submit();
        }

        $("#btnsubmitForm").click(function () {
            submitForm();
        });



        $("#uploadify").uploadify({
            //指定swf文件
            'swf': "@Url.Content("~/Content/plug-in/uploadify/uploadify.swf")",
            //后台处理的页面
            'uploader': '/workGuide/SaveImg',
            //按钮显示的文字
            'buttonText': '上传图片',
            "queueSizeLimit": 5,//队列中允许的最大文件数目
            //显示的高度和宽度，默认 height 30；width 120
            //'height': 15,
            //'width': 80,
            //上传文件的类型  默认为所有文件    'All Files'  ;  '*.*'
            //在浏览窗口底部的文件类型下拉菜单中显示的文本
            // 'fileTypeDesc': 'Image Files',
            //允许上传的文件后缀
            'fileTypeExts': '*.gif; *.jpg; *.png',
            //发送给后台的其他参数通过formData指定
            //'formData': $("#postadd").serialize(),
            //上传文件页面中，你想要用来作为文件队列的元素的id, 默认为false  自动生成,  不带#
            'cancelImg': "@Url.Content("~/Content/plug-in/uploadify/cancel.jpg")",
            //  'formData' :  JSON.stringify($('#postadd').serializeArray()),
            //"removeCompleted":false,
            //  'queueID': 'fileQueue',
            //选择文件后自动上传
            'auto': true,
            //设置为true将允许多文件上传
            'multi': true,
            onUploadSuccess: function (file, data, response) {//上传完成时触发（每个文件触发一次）

                data = eval("(" + data + ")");

                var imgStr = ' <img   ondblclick="delImgSocSer(this)" src="' + data.HttpUrl + '" title="双击删除图片" alt="" width="160" height="140"  />';

                $("#imgQueue").append(imgStr);
            }

        });


    });
</script>
