@using Common
@model  BackWeb.Models.MsgModel
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html>
<head>
    <title>@Model.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Refresh" content="@Model.WaitSecond; url=@Model.JumpUrl"/>
    @Html.IncludeCSS("~/content/css/style.css")
</head>
<body>
    <div class="message">
        <table cellpadding="0" cellspacing="0" class="form">
            <tr>
                <td class="topTd">
                </td>
            </tr>
            <tr class="row">
                <th class="title_row">@Model.Title
                </th>
            </tr>
            <tr class="row">
                <td class="message_row">@Model.Message
                </td>
            </tr>
            <tr class="row">
                <td class="jumprow">
                    @Html.Raw(string.Format("页面将在{0}秒后自动跳转，或直接点击 <a href='{1}'>这里</a> 手动跳转", Model.WaitSecond, Model.JumpUrl))
                </td>
            </tr>
            <tr>
                <td class="bottomTd">
                </td>
            </tr>
        </table>
    </div>
   
</body>
</html>
