@model  IPagedList<IplusOAEntity.MicroShopEntity>
@using MvcContrib.UI.Grid
@using MvcContrib.Pagination;
@using MvcContrib.UI.Pager;
@using Common;

<script type="text/javascript">

    function del(id) {

        var url = '@Url.Action("Delete")' + '?id=' + id;
        deleteMethod(id, "Delete");

    }
    function submitForm() {
        $('#indexFrom').submit();
    }





</script>
<style>
    .combo {
        vertical-align: bottom;
    }
</style>
<form id="indexFrom">

    <div style="float: left; height: 40px; text-align: center;">
        <span><a class="easyui-linkbutton" data-options="iconCls:'icon-add'" title="新增" href="@Url.Action("Add")">新增</a></span>

    </div>
</form>
<div class="grid_box">
    <div class="grid_top">
    </div>


    <table class="grid">
        <thead>
            <tr>
                <th style="width:30px;align:center;">Id</th>
                <th style="width:200px;align:center;">微店名称</th>
                <th style="width:200px;align:center;">商家名称</th>
                <th style="width:110px;align:center;">电话</th>
                <th style="width:250px;align:center;">微店URL地址</th>
                <th style="width:160px;align:center;">添加时间</th>
                <th>列表图片</th>
                <th style="width:200px;align:center;">操作</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr class="gridrow_alternate">
                    <td>@item.Id</td>
                    <td>@item.MicroName</td>
                    <td>
                        @item.BusName
                    </td>
                    <td>@item.Phone</td>
                    <td>@item.Url</td>
                    <td>@item.AddTime.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.ImgUrl))
                        {
                            foreach (var i in item.ImgUrl.Split('#'))
                            {
                                if (!string.IsNullOrEmpty(i))
                                {
                                    <img width="160" height="140" alt="" title="社区广告图片" src="@i">
                                }

                            }
                        }
                    </td>
                    <td class="grid_btn">
                        <a href="javascript: del(@item.Id)">删除</a>
                        @Html.ActionLink("查看拨打情况", "MicroShopCallRecordIndex", new { id = item.Id })
                    </td>
                </tr>
            </tbody>
        }
    </table>
    <div class="grid_foot">
    </div>
</div>

@Html.Pager(Model)
