@model  IPagedList<IplusOAEntity.Prize>
@using MvcContrib.UI.Grid
@using MvcContrib.Pagination;
@using MvcContrib.UI.Pager;
@using Common;

<script type="text/javascript">

    function del(id) {

        var url = '@Url.Action("Delete")' + '?id=' + id;
        deleteMethod(id, "Delete");
    }


    function PushMsg(id) {

        var url = '@Url.Action("PushMsg")' + '?id=' + id;
        url = encodeURI(url);
        $.ajax({
            url: url,
            type: 'POST',
            dataType: "json",
            success: function (obj) {

                alert(obj);

                    location.href = location.href;
            }
        });
    }

    function submitForm() {
        $('#indexFrom').submit();
    }




   
</script>
<style>
    .combo {
        vertical-align: bottom;
    }
</style>
<form id="indexFrom">

    <div style="float: left; height: 40px; text-align: center;">
        <span><a class="easyui-linkbutton" data-options="iconCls:'icon-add'" title="新增" href="@Url.Action("Add")">新增</a></span>

    </div>
</form>
<div class="grid_box">
    <div class="grid_top">
    </div>
    @Html.Grid(Model).Columns(column =>
                                  {
                                      column.For(x => x.Name).Named("奖品名称");
                                      column.For(x => x.StartTime.ToString("yyyy-MM-dd HH:ss")+"  到  "+ x.EndTime.ToString("yyyy-MM-dd HH:ss")).Named("有效期");
                                    //  column.For(x => x.AddTime.ToString("yyyy-MM-dd HH:ss")).Named("添加时间");
                                      column.Buttons(btns => btns
                                          .Add(x => Html.ActionLink("编辑", "Edit", new { id = x.Id }))
                                          .Add(x => Html.ScriptLink("删除", "del({0})".FormatWith(x.Id)))
                                                                 );
                                  }).Complex(ViewData)
    <div class="grid_foot">
    </div>
</div>

@Html.Pager(Model)
