@using Common;
@model IplusOAEntity.GridMember
@{
    Layout = null;
}

@Html.IncludeCSS("~/Content/Css/style.css")
@Html.IncludeCSS("~/Content/plug-in/ztree/css/zTreeStyle/zTreeStyle.css")
@Html.IncludeCSS("~/Content/Css/demo.css")
@Html.IncludeCSS("~/Content/plug-in/uploadify/uploadify.css")
@Html.IncludeCSS("~/Content/EasyUI/themes/gray/easyui.css")
@Html.IncludeCSS("~/Content/EasyUI/themes/icon.css")

<script>
    window.UEDITOR_HOME_serverPath = "@Url.Content("../../../workguide/ImgFile")";
</script>



<style>
    .panel-tool {
        width: 95%;
        float: left;
    }

    .item_title {
        background: none;
    }
</style>



<div id="tt">
    <a href="@Url.Action("Index", "GridMember")" style=" width:100px;">返回列表</a>
    @*<a href="@HttpContext.Current.Request.UrlReferrer" style=" width:100px;padding-left:20px;">返回列表</a>*@
</div>
<div id="p" class="easyui-panel" title="编辑" style="height:530px;padding:10px;"
     data-options="iconCls:'icon-add',closable:false,tools:'#tt'">

    <form name="postedit" action="@Url.Action("PostEdit")" id="postedit" method="post" enctype="multipart/form-data">
        <table class="form" cellpadding="0" cellspacing="0">
            <tbody>

                <tr>
                    <td class="item_title">网格员头像:</td>
                    <td class="item_input">
                        @*用来作为文件队列区域*@
                        <div id="fileQueue">
                        </div>
                        <input type="file" name="uploadify" id="uploadify" multiple="true" />
                        <input type="hidden" name="GridHeaderImg" id="GridHeaderImg" value="" />
                        双击删除图片
                        <div id="imgQueue">
                            <img ondblclick="delImgSocSer(this)" src="@Model.GridHeaderImg" title="双击删除图片" alt="" width="160" height="140" />
                         </div>
                    </td>
                </tr>
                <tr>
                    <td class="item_title">服务小区:</td>
                    <td class="item_input">
                        <input type="hidden" name="VDeptId" id="VDeptId"  value="@Model.VDeptId"/>
                        <input id="citySel" type="text" readonly value="@Model.VDeptName" style=" width:600px;" onclick="showMenu();" />
                    </td>
                </tr>
                <tr>
                    <td class="item_title">网格号:</td>
                    <td class="item_input"><input type="text" class="textbox require easyui-validatebox" missingmessage="必须填写" data-options="required:true" name="GridNo" value="@Model.GridNo" /></td>
                </tr>
                <tr>
                    <td class="item_title">网格员姓名:</td>
                    <td class="item_input"><input type="text" class="textbox require easyui-validatebox" missingmessage="必须填写" data-options="required:true" name="GridName" value="@Model.GridName" /></td>
                </tr>
                <tr>
                    <td class="item_title">网格员电话:</td>
                    <td class="item_input"><input type="text" class="textbox require easyui-validatebox" missingmessage="必须填写" data-options="required:true" name="GridPhone" value="@Model.GridPhone" /></td>
                </tr>

                <tr>
                    <td class="item_title">说明:</td>
                    <td class="item_input">
                        @*<textarea class="textbox require" name="Des" rows="5" cols="70"></textarea>*@
                        <input type="hidden" name="Desc" id="Desc" />
                        <div>
                            <script id="editor" type="text/plain" style="width:800px;height:400px;">
                                @Html.Raw(Model.Desc)
                            </script>
                            @*<textarea name="content" id="content" style="width:800px;height:400px;"></textarea>*@
                        </div>
                    </td>
                </tr>



                <tr>
                    <td class="item_title"></td>
                    <td class="item_input">
                        <input  type="hidden" value="@Model.Id" name="Id"/>
                        <a href="javascript:void(0)" id="btnsubmitForm" class="easyui-linkbutton">修改</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </form>

    <div id="menuContent" class="menuContent" style="display:none; position: absolute; z-index:1000;">
        <ul id="treeDemo" class="ztree" style="margin-top:0; width:180px; height: 300px;"></ul>
    </div>
</div>
@Html.IncludeScript("~/Content/EasyUI/jquery-1.8.0.min.js")
@Html.IncludeScript("~/Content/Js/jquery.timer.js")
@Html.IncludeScript("~/Content/Js/common.js")

@Html.IncludeScript("~/Content/EasyUI/jquery.easyui.min.js")
@*@Html.IncludeScript("~/Content/plug-in/My97DatePicker/WdatePicker.js")*@

@Html.IncludeScript("~/Content/plug-in/ztree/js/jquery.ztree.core-3.5.js")
@Html.IncludeScript("~/Content/plug-in/ztree/js/jquery.ztree.excheck-3.5.js")
@Html.IncludeScript("~/Content/plug-in/uploadify/jquery.uploadify-3.1.js")

@Html.IncludeScript("~/Content/plug-in/ueditor/ueditor.config.js")
@Html.IncludeScript("~/Content/plug-in/ueditor/ueditor.all.js")
@Html.IncludeScript("~/Content/plug-in/ueditor/lang/zh-cn/zh-cn.js")



<script>

    <!--
    var setting = {
        check: {
            enable: true,
            chkboxType: {"Y":"", "N":""}
        },
        view: {
            dblClickExpand: false
        },
        data: {
            simpleData: {
                enable: true,
                idKey: "Id",
                pIdKey: "PId",
                rootPId: ""
            },
            key: {
                name: "Name"
            }

        },
        callback: {
            beforeClick: beforeClick,
            onCheck: onCheck
        }
    };

    var zNodes =@(Html.Raw(ViewData["Department_List"].ToString()))
    function beforeClick(treeId, treeNode) {
        var zTree = $.fn.zTree.getZTreeObj("treeDemo");
        zTree.checkNode(treeNode, !treeNode.checked, null, true);
        return false;
    }

    function onCheck(e, treeId, treeNode) {
        var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
        nodes = zTree.getCheckedNodes(true),
        v = "";
        var sVDeptId = "";
        for (var i=0, l=nodes.length; i<l; i++) {
            v += nodes[i].Name + ",";
            sVDeptId += nodes[i].Id + ",";
        }
        $("#VDeptId").val(sVDeptId);
        if (v.length > 0 ) v = v.substring(0, v.length-1);
        var cityObj = $("#citySel");
        cityObj.attr("value", v);
    }

    function showMenu() {
        var cityObj = $("#citySel");
        var cityOffset = $("#citySel").offset();
        $("#menuContent").css({left:cityOffset.left + "px", top:cityOffset.top + cityObj.outerHeight() + "px"}).slideDown("fast");

        $("body").bind("mousedown", onBodyDown);
    }
    function hideMenu() {
        $("#menuContent").fadeOut("fast");
        $("body").unbind("mousedown", onBodyDown);
    }
    function onBodyDown(event) {
        if (!(event.target.id == "menuBtn" || event.target.id == "citySel" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length>0)) {
            hideMenu();
        }
    }


    function clearForm() {
        $('#postadd').form('clear');
    }
    function delImgSocSer(e) {
        if (!confirm("确认要删除该图片吗？")) {
            return false;
        }
        $(e).remove();
    }


    $(function () {
        $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        var ue = UE.getEditor('editor');

        function submitForm() {
            $("#imgQueue img").each(function () {
                $("#GridHeaderImg").val($(this).attr("src"));
            });
           //var   html = editor.html();
            $("#Desc").val(UE.getEditor('editor').getContent());
            $('#postedit').submit();
        }

        $("#btnsubmitForm").click(function () {
            submitForm();
        });



        $("#uploadify").uploadify({
            //指定swf文件
            'swf': "@Url.Content("~/Content/plug-in/uploadify/uploadify.swf")",
            //后台处理的页面
            'uploader': '/GridMember/SaveHeaderImg',
            //按钮显示的文字
            'buttonText': '上传图片',
            "queueSizeLimit": 5,//队列中允许的最大文件数目
            //显示的高度和宽度，默认 height 30；width 120
            //'height': 15,
            //'width': 80,
            //上传文件的类型  默认为所有文件    'All Files'  ;  '*.*'
            //在浏览窗口底部的文件类型下拉菜单中显示的文本
            // 'fileTypeDesc': 'Image Files',
            //允许上传的文件后缀
            'fileTypeExts': '*.gif; *.jpg; *.png',
            //发送给后台的其他参数通过formData指定
            //'formData': $("#postadd").serialize(),
            //上传文件页面中，你想要用来作为文件队列的元素的id, 默认为false  自动生成,  不带#
            'cancelImg': "@Url.Content("~/Content/plug-in/uploadify/cancel.jpg")",
            //  'formData' :  JSON.stringify($('#postadd').serializeArray()),
            //"removeCompleted":false,
            //  'queueID': 'fileQueue',
            //选择文件后自动上传
            'auto': true,
            //设置为true将允许多文件上传
            'multi': false,
            onUploadSuccess: function (file, data, response) {//上传完成时触发（每个文件触发一次）

                data = eval("(" + data + ")");

                var imgStr = ' <img   ondblclick="delImgSocSer(this)" src="' + data.HttpUrl + '" title="双击删除图片" alt="" width="160" height="140"  />';

                $("#imgQueue").html(imgStr);
            }

        });


    });
</script>
