@using Common;


@Html.IncludeCSS("~/Content/plug-in/ztree/css/zTreeStyle/zTreeStyle.css")
@Html.IncludeCSS("~/Content/Css/demo.css")
@Html.IncludeCSS("~/Content/plug-in/uploadify/uploadify.css")
<script>
    window.UEDITOR_HOME_serverPath = "@Url.Content("../../../workGuide/ImgFile")";
</script>
<style>
    .panel-tool {
        width: 95%;
        float: left;
    }

    .item_title {
        background: none;
    }
</style>



    <div id="tt">
        <a href="@Url.Action("Index", "SocSer")" style=" width:100px;">返回列表</a>
        @*<a href="@HttpContext.Current.Request.UrlReferrer" style=" width:100px;padding-left:20px;">返回列表</a>*@
    </div>
    <div id="p" class="easyui-panel" title="新增" style="height:530px;padding:10px;"
         data-options="iconCls:'icon-add',closable:false,tools:'#tt'">

        <form name="postadd" action="@Url.Action("PostAdd")" id="postadd" method="post" enctype="multipart/form-data" >
            <table class="form" cellpadding="0" cellspacing="0">
                <tbody>
              
                    <tr>
                        <td class="item_title">收费类型:</td>
                        <td class="item_input">
                            <select id="PayType" name="PayType">
                                <option value="无偿">无偿</option>
                                <option value="无偿">低偿</option>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="item_title">是否需居民申请:</td>
                        <td class="item_input">
                            <select id="ISUserApply" name="ISUserApply">
                                <option value="0">是</option>
                                <option value="1">否</option>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="item_title">
                            服务类型:
                        </td>
                        <td class="item_input">
                            <select name="Type">
                                <option value="GYFN">法律服务</option>
                                <option value="GYYLFW">医疗服务</option>
                                <option value="GYWH">文化娱乐</option>
                                <option value="GYYL">居家养老</option>
                                <option value="GYBF">社区帮扶</option>
                                <option value="GYWHKT">文化课堂</option>
                                <option value="GYNSD">社区绿丝带</option>
                                <option value="SYJZ">社区家政</option>
                                <option value="SYMY">美食娱乐</option>
                                <option value="SYWX">家居维修</option>
                                <option value="SYJR">金融服务</option>
                                <option value="SYYH">优惠进社区</option>
                                @*<option value="TV8">TV8折购物</option>*@
                                <option value="JYPX">教育培训</option>
                                <option value="MSKD">美食快递</option>
                                <option value="XLYL">休闲娱乐</option>
                                <option value="LRYS">丽人养生</option>
                                <option value="XHKD">鲜花快递</option>
                                <option value="SQCF">社区厨房</option>
                                <option value="MYQZ">母婴亲子</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="item_title">服务内容标题:</td>
                        <td class="item_input"><input type="text" class="textbox require easyui-validatebox" missingmessage="必须填写" data-options="required:true" name="Context" /></td>
                    </tr>
                    <tr>
                        <td class="item_title">发布时间:</td>
                        <td class="item_input"><input type="text" class="textbox require easyui-validatebox" name="PubTime" missingmessage="必须填写" data-options="required:true" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})" /></td>
                    </tr>
                    <tr>
                        <td class="item_title">截止时间:</td>
                        <td class="item_input"><input type="text" class="textbox require easyui-validatebox" name="EndTime" missingmessage="必须填写" data-options="required:true" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})" /></td>
                    </tr>
                    <tr>
                        <td class="item_title">服务图片:</td>
                        <td class="item_input">
                            @*用来作为文件队列区域*@
                            <div id="fileQueue">
                            </div>
                            <input type="file" name="uploadify" id="uploadify" multiple="true" />
                            <input type="hidden" name="SocSerImgId" id="SocSerImgId" value="" />
                            双击删除图片
                            <div id="imgQueue">
                                @*<a href="javascript:$('#uploadify').uploadify('upload')">上传</a>*@

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="item_title">服务外部链接:</td>
                        <td class="item_input">
                        <input type="text" class="textbox" id="LinkSocSerUrl" name="LinkSocSerUrl" />
                        <span>（服务外部链接， 上传服务HTML文件， 服务描述 3者只能填其一）</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="item_title">上传服务HTML文件:</td>
                        <td class="item_input">
                            <input type="hidden" id="UploadHtmlFile" name="uploadhtmlfile" />
                            <span id="HtmlFileName"></span>
                            <input type="text" class="textbox  easyui-validatebox" id="SaveUploadHtmlFile" name="SaveUploadHtmlFile"  />
                            <span>（服务外部链接， 上传服务HTML文件， 服务描述 3者只能填其一）</span>
                         </td>
                    </tr>
                
                    <tr>
                        <td class="item_title">服务描述:
                        <br />
                        （服务外部链接， 上传服务HTML文件， 服务描述 3者只能填其一）
                        </td>
                        <td class="item_input">
                        @*<textarea class="textbox require" name="Desc" rows="5" cols="70" ></textarea>*@
                            <input type="hidden" name="Desc" id="Desc" />
                            <div>
                                <script id="editor" type="text/plain" style="width:450px;height:500px;">
                                </script>
                            </div>

                          
                        </td>
                    </tr>
                
                    <tr>
                        <td class="item_title">自愿者帮助说明:</td>
                        <td class="item_input"><textarea class="textbox require" name="VHelpDesc" rows="5" cols="70"></textarea></td>
                    </tr>
                    <tr>
                        <td class="item_title">覆盖社区:</td>
                        <td class="item_input">
                            <input type="hidden" name="CoverCommunity" id="CoverCommunityIds" />
                          
                            <a id="menuBtn" href="#" onclick="showMenu(this)">请选择 &nbsp; &nbsp;</a>
                           
                            <div id="menuContent" class="menuContent" style="display: none; z-index: 10000; position:absolute;">
                                <ul id="ztree" class="ztree" style="margin-top:0;   overflow:scroll; height:270px;"></ul>
                            </div>
                           
                            <span class="textbox" id="CoverCommunityNames"></span>

                        </td>

                    </tr>
                    <tr>
                        <td class="item_title">感谢分值:</td>
                        <td class="item_input"><input type="text" class="easyui-numberbox" name="THSScore" required="false" missingmessage="必须填写整数" /></td>
                    </tr>
                    <tr>
                        <td class="item_title">服务分值:</td>
                        <td class="item_input"><input type="text" class="easyui-numberbox" name="Score" required="false" missingmessage="必须填写整数" /></td>
                    </tr>
                    <tr>
                        <td class="item_title">联系电话:</td>
                        <td class="item_input"><input type="text" class="textbox require" name="Phone" /></td>
                    </tr>
                    <tr>
                        <td class="item_title">联系人:</td>
                        <td class="item_input"><input type="text" class="textbox require" name="Contacts" /></td>
                    </tr>

                    <tr>
                        <td class="item_title">分享积分:</td>
                  
                        <td class="item_input"><input type="text" class="easyui-numberbox" name="ShareScore" value="5" required="false" missingmessage="必须填写整数" /></td>

                    </tr>
                    <tr>
                        <td class="item_title">评论积分:</td>
                 
                        <td class="item_input"><input type="text" class="easyui-numberbox" name="CommentSocre" value="3" vrequired="false" missingmessage="必须填写整数" /></td>
                    </tr>
                    <tr>
                        <td class="item_title">点赞积分:</td>
                
                        <td class="item_input"><input type="text" class="easyui-numberbox" name="goodScore" value="1" required="false" missingmessage="必须填写整数" /></td>
                    </tr>

                    <tr>
                        <td class="item_title"></td>
                        <td class="item_input">
                            @*<input type="submit" class="button" value="新增">
                            <input type="reset" class="button" value="重置">*@
                            <a href="javascript:void(0)" id="btnsubmitForm" class="easyui-linkbutton">新增</a>
                            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">重置</a>
                        </td>
                    </tr>
                
                </tbody>
            </table>

        </form>
    </div>


@Html.IncludeScript("~/Content/plug-in/ztree/js/jquery.ztree.core-3.5.js")
@Html.IncludeScript("~/Content/plug-in/ztree/js/jquery.ztree.excheck-3.5.js")
@Html.IncludeScript("~/Content/plug-in/uploadify/jquery.uploadify-3.1.js")

@Html.IncludeScript("~/Content/plug-in/ueditor/ueditor.config.js")
@Html.IncludeScript("~/Content/plug-in/ueditor/ueditor.all.js")
@Html.IncludeScript("~/Content/plug-in/ueditor/lang/zh-cn/zh-cn.js")
<script>

 
    var setting = {
        view: {
            dblClickExpand: false,
            showLine: true,
            selectedMulti: false
        },
        check: {
            enable: true
        },
        data: {
            simpleData: {
                enable: true,
                idKey: "Id",
                pIdKey: "PId",
                rootPId: ""
            },
            key: {
                name: "Name"
            }

        },
        callback: {
            beforeCheck: beforeCheck,
            onCheck: onCheck
        }
    };

    var zNodes =@(Html.Raw(ViewData["Department_List"].ToString()))

    function onCheck(e, treeId, treeNode) {
        var checkString="";
        var  checkStringNames="";
        var zTree = $.fn.zTree.getZTreeObj("ztree");
        var checkNodesChild=    zTree.getCheckedNodes(true);
        for (var i = 0; i < checkNodesChild.length; i++) {
            if (!checkNodesChild[i].isParent) {
                checkString+=","+checkNodesChild[i].Id;
                checkStringNames+=checkNodesChild[i].Name+",";
            }
        }
        $("#CoverCommunityIds").val(checkString);
        $("#CoverCommunityNames").text(checkStringNames);
        
    }

    function beforeCheck(treeId, treeNode) {

    }

    function onBodyDown(event) {
        if (!(event.target.id == "menuBtn" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length>0)) {
            hideMenu();
        }
    }

    function showMenu(e) {
 
        $("#menuContent").css("top", $(e).offset().top+15).slideDown("fast");
        $("body").bind("mousedown", onBodyDown);
    }
    function hideMenu() {
        $("#menuContent").fadeOut("fast");
        $("body").unbind("mousedown", onBodyDown);
    }
    function clearForm() {
        $('#postadd').form('clear');
    }
    function delImgSocSer(e)
    {
        if (!confirm("确认要删除该图片吗？")) {
            return false;
        }
        $(e).remove();
    }


  
    $(function(){
      

        var ue = UE.getEditor('editor');
        $.fn.zTree.init($("#ztree"), setting, zNodes);
      //  var ue = UE.getEditor('editor');

        function submitForm() {
   
            $("#imgQueue img").each(function(){
                $("#SocSerImgId").val( $("#SocSerImgId").val()+","+$(this).attr("socserimgId"));
            });
            $("#Desc").val(UE.getEditor('editor').getContent());
             $('#postadd').submit();
        }

        $("#btnsubmitForm").click(function(){
            submitForm();
        });


      
        $("#uploadify").uploadify({
            //指定swf文件
            'swf':"@Url.Content("~/Content/plug-in/uploadify/uploadify.swf")",
            //后台处理的页面
            'uploader': '/socser/SaveImg',
            //按钮显示的文字
            'buttonText': '上传图片',
            //显示的高度和宽度，默认 height 30；width 120
            //'height': 15,
            //'width': 80,
            //上传文件的类型  默认为所有文件    'All Files'  ;  '*.*'
            //在浏览窗口底部的文件类型下拉菜单中显示的文本
            // 'fileTypeDesc': 'Image Files',
            //允许上传的文件后缀
            'fileTypeExts': '*.gif; *.jpg; *.png',
            //发送给后台的其他参数通过formData指定
            //'formData': $("#postadd").serialize(),
            //上传文件页面中，你想要用来作为文件队列的元素的id, 默认为false  自动生成,  不带#
            'cancelImg':"@Url.Content("~/Content/plug-in/uploadify/cancel.jpg")",
          //  'formData' :  JSON.stringify($('#postadd').serializeArray()),   
            //"removeCompleted":false,
           //  'queueID': 'fileQueue',
            //选择文件后自动上传
            'auto': true,
            //设置为true将允许多文件上传
            'multi': true,
            onUploadSuccess : function(file,data,response) {//上传完成时触发（每个文件触发一次）
              
                data= eval("("+data+")");
                
                var imgStr=' <img id="imgSocser'+data.Id+'" socserimgId="'+data.Id+'"  ondblclick="delImgSocSer(this)" src="'+data.HttpUrl+'" title="双击删除图片" alt="" width="160" height="140"  />';
                 
                $("#imgQueue").append(imgStr);
            } 

        });
        $("#SaveUploadHtmlFile").uploadify({
            //指定swf文件
            'swf':"@Url.Content("~/Content/plug-in/uploadify/uploadify.swf")",
        //后台处理的页面
            'uploader': '/socser/SaveUploadHtmlFile',
        //按钮显示的文字
          'buttonText': '上传HTML文件',
          'fileTypeExts': '*.html; *.htm; ',
          'cancelImg':"@Url.Content("~/Content/plug-in/uploadify/cancel.jpg")",
          'auto': true,
        //设置为true将允许多文件上传
          'multi': false,
          onUploadSuccess: function (file, data, response) {//上传完成时触发（每个文件触发一次）

              data = eval("(" + data + ")");

              $("#UploadHtmlFile").val(data.HttpUrl);
              $("#HtmlFileName").html("已上传成功文件："+data.Name);
              

          }

    });
      
    });
</script>
