@using Common;
@model IplusOAEntity.SocServiceDetailEntity
<script type="text/javascript">
    function check_incharge_form() {

        return true;
    }
</script>

@Html.IncludeCSS("~/Content/plug-in/ztree/css/zTreeStyle/zTreeStyle.css")
@Html.IncludeCSS("~/Content/Css/demo.css")
@Html.IncludeScript("~/Content/plug-in/ztree/js/jquery.ztree.core-3.5.js")
@Html.IncludeScript("~/Content/plug-in/ztree/js/jquery.ztree.excheck-3.5.js")
<style>
    .panel-tool {
        width: 95%;
        float: left;
    }

    .item_title {
        background: none;
    }
</style>


<div id="tt">
    <a href="@Url.Action("Index", "SocSer")" style=" width:100px;">返回列表</a>
</div>
<div id="p" class="easyui-panel" title="新增" style="height:530px;padding:10px;"
     data-options="iconCls:'icon-add',closable:false,tools:'#tt'">
    <form name="PostEdit" id="PostEdit" action="@Url.Action("PostEdit")" method="post" enctype="multipart/form-data" onsubmit="return check_incharge_form();">
        <table class="form" cellpadding="0" cellspacing="0">
            <tbody>
              
                <tr>
                    <td class="item_title">收费类型:</td>
                    <td class="item_input">
                        @*<input type="text" class="textbox require" name="PayType" value="@Model.PayType" />*@
                        <select id="PayType" name="PayType">
                            <option value="无偿">无偿</option>
                            <option value="低偿">低偿</option>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="item_title">
                        服务类型:
                    </td>
                    <td class="item_input">
                        <select id="Type" name="Type">
                            <option value="GYFN">法律服务</option>
                            <option value="GYYLFW">医疗服务</option>
                            <option value="GYWH">文化娱乐</option>
                            <option value="GYYL">居家养老</option>
                            <option value="GYBF">社区帮扶</option>
                            <option value="GYWHKT">文化课堂</option>
                            <option value="GYNSD">社区绿丝带</option>
                            <option value="SYJZ">社区家政</option>
                            <option value="SYMY">美食娱乐</option>
                            <option value="SYWX">家居维修</option>
                            <option value="SYJR">金融服务</option>
                            <option value="SYYH">优惠进社区</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="item_title">服务内容标题:</td>
                    <td class="item_input"><input type="text" class="textbox easyui-validatebox" missingmessage="必须填写" data-options="required:true"  name="Context" value="@Model.Context" /></td>
                </tr>
                <tr>
                    <td class="item_title">发布时间:</td>
                    <td class="item_input"><input type="text" class="textbox easyui-validatebox" missingmessage="必须填写" data-options="required:true" name="PubTime" value="@(Model.PubTime.HasValue? Model.PubTime.Value.ToString("yyyy-MM-dd HH:mm") : "")" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})" /></td>
                </tr>
                <tr>
                    <td class="item_title">截止时间:</td>
                    <td class="item_input"><input type="text" class="textbox easyui-validatebox" missingmessage="必须填写" data-options="required:true" name="EndTime" value="@(Model.EndTime.HasValue ? Model.EndTime.Value.ToString("yyyy-MM-dd HH:mm") : "")" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})" /></td>
                </tr>
                <tr>
                    <td class="item_title">服务描述:</td>
                    <td class="item_input"><textarea class="textbox require" name="Desc" rows="5" cols="70">@Model.Desc</textarea></td>
                </tr>
                <tr>
                    <td class="item_title">自愿者帮助说明:</td>
                    <td class="item_input"><textarea class="textbox require" name="VHelpDesc" rows="5" cols="70">@Model.VHelpDesc</textarea></td>
                </tr>
                <tr>
                    <td class="item_title">覆盖社区:</td>
                    <td class="">
                        <input type="hidden" name="CoverCommunity" id="CoverCommunityIds" value="@Model.CoverCommunity" />
                        @*<input type="text" class="button" value="选择社区" name="CoverCommunity" onclick="showMenu(); return false;" />*@
                        <a id="menuBtn" href="#" onclick="showMenu(); return false;">请选择 &nbsp; &nbsp;</a>
                        <div id="menuContent" class="menuContent" style="display:none; position: absolute;">
                            <ul id="ztree" class="ztree" style="margin-top:0;  overflow:scroll; height:270px;"></ul>
                        </div>
                        <span class="textbox" id="CoverCommunityNames">@Model.CoverCommunityNames</span>
                    </td>

                </tr>
                <tr>
                    <td class="item_title">感谢分值:</td>
                    <td class="item_input"><input type="text" class="easyui-numberbox" name="THSScore" required="false" missingmessage="必须填写整数" value="@Model.THSScore" /></td>
                </tr>
                <tr>
                    <td class="item_title">服务分值:</td>
                    <td class="item_input"><input type="text" class="easyui-numberbox" name="Score" required="false" missingmessage="必须填写整数" value="@Model.Score" /></td>
                </tr>
                <tr>
                    <td class="item_title">联系电话:</td>
                    <td class="item_input"><input type="text" class="textbox require" name="Phone" value="@Model.Phone" /></td>
                </tr>
                <tr>
                    <td class="item_title">联系人:</td>
                    <td class="item_input"><input type="text" class="textbox require" name="Contacts" value="@Model.Contacts" /></td>
                </tr>
                <tr>
                    <td class="item_title"></td>
                    <td class="item_input">
                        <input type="hidden" name="Id" value="@Model.Id" />
                        @*<input type="submit" class="button" value="保存修改">
                        <input type="reset" class="button" value="重置">*@
                        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">保存修改</a>
                    
                    </td>
                </tr>
              
            </tbody>
        </table>
        <script type="text/javascript">


            var setting = {
                view: {
                    dblClickExpand: false,
                    showLine: true,
                    selectedMulti: false
                },
                check: {
                    enable: true
                },
                data: {
                    simpleData: {
                        enable: true,
                        idKey: "Id",
                        pIdKey: "PId",
                        rootPId: ""
                    },
                    key: {
                        name: "Name",
                        checked: "IsCheck"

                    }

                },
                callback: {
                    beforeCheck: beforeCheck,
                    onCheck: onCheck
                }
            };

            var zNodes =@(Html.Raw(ViewData["Department_List"].ToString()));

            function onCheck(e, treeId, treeNode) {
                var checkString="";
                var  checkStringNames="";
                var zTree = $.fn.zTree.getZTreeObj("ztree");
                var checkNodesChild=    zTree.getCheckedNodes(true);
                for (var i = 0; i < checkNodesChild.length; i++) {
                    if (!checkNodesChild[i].isParent) {
                        checkString+=","+checkNodesChild[i].Id;
                        checkStringNames+=checkNodesChild[i].Name+",";
                    }
                }
                $("#CoverCommunityIds").val(checkString);
                $("#CoverCommunityNames").text(checkStringNames);

            }

            function beforeCheck(treeId, treeNode) {

            }
            function showMenu() {
                $("#menuContent").slideDown("fast");
                $("body").bind("mousedown", onBodyDown);
            }
            function hideMenu() {
                $("#menuContent").fadeOut("fast");
                $("body").unbind("mousedown", onBodyDown);
            }
            function onBodyDown(event) {
                if (!(event.target.id == "menuBtn" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length>0)) {
                    hideMenu();
                }
            }

            $(document).ready(function () {
                $.fn.zTree.init($("#ztree"), setting, zNodes);

                $("#Type").val("@Model.Type");
                $("#PayType").val("@Model.PayType");

               
            });


  
            function submitForm() {
             
                $('#PostEdit').submit();
            }
                function clearForm() {
                    $('#PostEdit').form('clear');
                }
 
        </script>
    </form>
</div>