@using Common;
@model IplusOAEntity.SocServiceDetailEntity


@Html.IncludeCSS("~/Content/plug-in/ztree/css/zTreeStyle/zTreeStyle.css")
@Html.IncludeCSS("~/Content/Css/demo.css")
@Html.IncludeScript("~/Content/plug-in/ztree/js/jquery.ztree.core-3.5.js")
@Html.IncludeScript("~/Content/plug-in/ztree/js/jquery.ztree.excheck-3.5.js")
<style>
    .panel-tool {
        width: 90%;
        
        float: left;
    }

    .item_title {
        background: none;
    }
</style>
<div id="tt">
    <a href="@Url.Action("ManagerIndex", "SocSer")" style=" width:100px;">返回列表</a>
</div>
<div id="p" class="easyui-panel" title="社区服务详情" style="height:530px;padding:10px;"
     data-options="closable:false,tools:'#tt'">
    <form id="TakeIn" name="TakeIn" action="@Url.Action("PostNoTakeIn")" method="post" enctype="multipart/form-data">
        <table class="form" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td colspan="2" class="topTd"></td>
                </tr>
                <tr>
                    <td class="item_title">
                        服务类型:
                    </td>
                    <td class="item_input">
                        <select id="Type" name="Type" disabled="disabled">
                            <option value="GYFN">法律服务</option>
                            <option value="GYYLFW">医疗服务</option>
                            <option value="GYWH">文化娱乐</option>
                            <option value="GYYL">居家养老</option>
                            <option value="GYBF">社区帮扶</option>
                            <option value="GYWHKT">文化课堂</option>
                            <option value="GYNSD">社区绿丝带</option>
                            <option value="SYJZ">社区家政</option>
                            <option value="SYMY">美食娱乐</option>
                            <option value="SYWX">家居维修</option>
                            <option value="SYJR">金融服务</option>
                            <option value="SYYH">优惠进社区</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="item_title">服务内容标题:</td>
                    <td class="item_input"><input type="text" disabled="disabled" class="textbox require" name="Context" value="@Model.Context" /></td>
                </tr>
                <tr>
                    <td class="item_title">发布时间:</td>
                    <td class="item_input"><input type="text" disabled="disabled" class="textbox require" name="PubTime" value="@Model.PubTime" /></td>
                </tr>
                <tr>
                    <td class="item_title">截止时间:</td>
                    <td class="item_input"><input type="text" disabled="disabled" class="textbox require" name="EndTime" value="@Model.EndTime" /></td>
                </tr>
                <tr>
                    <td class="item_title">服务描述:</td>
                    <td class="item_input"><textarea class="textbox require" name="Desc" rows="5" cols="70">@Model.Desc</textarea></td>
                </tr>
                <tr>
                    <td class="item_title">自愿者帮助说明:</td>
                    <td class="item_input"><textarea class="textbox require" name="VHelpDesc" rows="5" cols="70">@Model.VHelpDesc</textarea></td>
                </tr>
                <tr>
                    <td class="item_title">覆盖社区:</td>
                    <td class="item_input">
                        <span class="textbox" id="CoverCommunityNames">@Model.CoverCommunityNames</span>
                    </td>

                </tr>
                <tr>
                    <td class="item_title">感谢分值:</td>
                    <td class="item_input"><input type="text" disabled="disabled" class="textbox require" name="THSScore" value="@Model.THSScore" /></td>
                </tr>
                <tr>
                    <td class="item_title">服务分值:</td>
                    <td class="item_input"><input type="text" disabled="disabled" class="textbox require" name="Score" value="@Model.Score" /></td>
                </tr>
                <tr>
                    <td class="item_title">联系电话:</td>
                    <td class="item_input"><input type="text" disabled="disabled" class="textbox require" name="Phone" value="@Model.Phone" /></td>
                </tr>
                <tr>
                    <td class="item_title">联系人:</td>
                    <td class="item_input"><input type="text" disabled="disabled" class="textbox require" name="Contacts" value="@Model.Contacts" /></td>
                </tr>
                <tr>
                    <td class="item_title">原因:</td>
                    <td class="item_input"><textarea class="textbox require" id="msg" name="Msg" rows="5" cols="70">@ViewBag.Msg  </textarea></td>
                </tr>
                <tr>
                    <td class="item_title">本社区参与状况：</td>
                    <td class="item_input">
                        <span style="color:red;">@ViewBag.IsJoin </span><br />
                        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                        @*<input type="button" id="No" class="button" value="本社区不参与服务">
                            <input type="button" id="Stop" class="button" value="本社区暂停服务">
                            <input type="button" id="ReStart" class="button" value="本社重新启动服务">*@

                        <a href="javascript:void(0)" class="easyui-linkbutton" id="No">不开展该服务</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" id="Stop">暂停该服务</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" id="ReStart">启动该服务</a>
                    </td>
                </tr>

                @*<tr>
                        <td class="item_title"></td>
                        <td class="item_input">
                            <span>@ViewBag.IsJoin </span><br />
                            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                            <input type="button" id="No" class="button" value="本社区不参与服务">
                            <input type="button" id="Stop" class="button" value="本社区暂停服务">
                            <input type="button" id="ReStart" class="button" value="本社重新启动服务">
                        </td>
                    </tr>*@
                <tr>
                    <td colspan="2" class="bottomTd"></td>
                </tr>
            </tbody>
        </table>
        <script type="text/javascript">

            $(document).ready(function () {

                function isTakeIn(id, state, msg) {

                    var url = "/SocSer/PostNoTakeIn" + '?detailId=' + id + "&state=" + state + "&msg=" + msg;
                    url = encodeURI(url);
                    //window.document.forms["TakeIn"].action = url;
                    //window.document.forms["method"].action = "get";

                    //$('#TakeIn').action = url;
                    //$('#TakeIn').method = "POST";
                    //$('#TakeIn').enctype = "multipart/form-data";
                    //$('#TakeIn').submit();

                    $.ajax({
                        url: url,
                        //data: { id: id },
                        type: 'POST',
                        dataType: "json",
                        success: function (obj) {
                            $("#info").html(obj.Info);
                            if (obj.Status == true)
                                location.href = location.href;
                        }
                    });
                    //showAjaxResult(url, "执行操作中", 600, 400);
                }

                $("#No").click(function () {

                    var id = $("#Id").val();
                    var msg = $("#msg").val();
                    var state = -1;
                    isTakeIn(id, state, msg);

                });

                $("#Stop").click(function () {

                    var id = $("#Id").val();
                    var msg = $("#msg").val();
                    var state = 0;
                    isTakeIn(id, state, msg);
                });

                $("#ReStart").click(function () {
                    var id = $("#Id").val();
                    var msg = $("#msg").val();
                    var state = 1;
                    isTakeIn(id, state, msg);

                });




                $("#Type").val("@Model.Type");

            });



        </script>
    </form>

</div>