@using Common;
@using MvcContrib.UI.Grid
@using MvcContrib.Pagination;
@using MvcContrib.UI.Pager;
@model  BackWebAdmin.Models.ShowApplyEntity

<form name="PostUserApplyServiceDetail" id="PostUserApplyServiceDetail" action="@Url.Action("PostUserApplyServiceDetail")" method="post" enctype="multipart/form-data">
    <div class="easyui-tabs">
        <div title="申请人和志愿者服务信息" style="padding:10px">
            <p style="font-size:14px">申请人信息</p>
            <input type="hidden" name="userapplyId" value="@Model.ApplyEntiy.Id" />
            <table class="form" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="item_title">申请人:</td>
                    <td>@Model.UserEntiy.RealName</td>
                    <td class="item_title">联系电话:</td>
                    <td>@Model.UserEntiy.Phone</td>
                    <td class="item_title">地址:</td>
                    <td>@Model.UserEntiy.Address</td>
                </tr>

            </table>
            <p style="font-size:14px;margin-top:15px;">社会服务活动详情</p>
            <input type="hidden" name="SDId" value="@Model.Detail.Id" />
            <table class="form" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="item_title">收费类型:</td>
                    <td>@Model.Detail.PayType</td>
                    <td class="item_title">服务类型:</td>
                    <td>@Model.Detail.Type</td>
                    <td class="item_title">服务内容标题:</td>
                    <td>@Model.Detail.Context</td>
                </tr>
                <tr>
                    <td class="item_title">有效期:</td>
                    <td>@Model.Detail.PubTime~@Model.Detail.EndTime</td>
                    <td class="item_title">感谢分值:</td>
                    <td>@Model.Detail.THSScore</td>
                    <td class="item_title">服务分值:</td>
                    <td>@Model.Detail.Score</td>
                </tr>
                <tr>
                    <td class="item_title">联系电话:</td>
                    <td>@Model.Detail.Phone</td>
                    <td class="item_title">联系人:</td>
                    <td colspan="3">@Model.Detail.Contacts</td>

                </tr>
                <tr>
                    <td class="item_title">服务描述:</td>
                    <td colspan="5">@Model.Detail.Desc</td>

                </tr>
                <tr>
                    <td class="item_title">自愿者帮助说明:</td>
                    <td colspan="5">@Model.Detail.VHelpDesc</td>

                </tr>
            </table>

            <p style="font-size:14px; margin-top:15px;">志愿者服务情况</p>
            <table class="grid" cellpadding="0" cellspacing="0">

                <thead>
                    <tr style="text-align:center;">
                        <th class="item_title" title="如果选中将给自愿者增加积分">审核是否加分</th>
                        <th class="item_title">志愿者</th>

                        <th class="item_title">志愿者手机号</th>


                        <th class="item_title">服务开始时间</th>

                        <th class="item_title">服务结束时间</th>

                        <th class="item_title">服务记录</th>
                    </tr>
                </thead>
                @foreach (var item in @Model.RecVol)
                {
                    
                    <tr>
                        <td class="chk">
                            <input type="checkbox" title="如果选中将给自愿者增加 @Model.Detail.Score 积分" name="RecordId" value="@((item.Record ?? new IplusOAEntity.SerRecordEntity()).Id)" / />
                        </td>
                        <td>@((item.VolModel ?? new IplusOAEntity.VolunteerEntity()).RealName)</td>

                        <td>@((item.VolModel ?? new IplusOAEntity.VolunteerEntity()).Phone)</td>


                        <td>@item.Record.BeginTime</td>

                        <td>@item.Record.EndTime</td>

                        <td>
                            @if (!string.IsNullOrEmpty(item.Record.Img))
                            {
                                foreach (var img in item.Record.Img.Split('#'))
                                {
                                    if (!string.IsNullOrEmpty(img))
                                    {
                                        <img width="20%" src="@img" />
                                    }

                                }
                            }

                        </td>
                    </tr>
                }

            </table>

        </div>
        @*<div title="社会服务活动详情" style="padding:10px">

                    <table class="form" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="item_title">收费类型:</td>
                            <td>@Model.Detail.PayType</td>
                            <td class="item_title">服务类型:</td>
                            <td>@Model.Detail.Type</td>
                            <td class="item_title">服务内容标题:</td>
                            <td>@Model.Detail.Context</td>
                        </tr>
                        <tr>
                            <td class="item_title">有效期:</td>
                            <td>@Model.Detail.PubTime~@Model.Detail.EndTime</td>
                            <td class="item_title">感谢分值:</td>
                            <td>@Model.Detail.THSScore</td>
                            <td class="item_title">服务分值:</td>
                            <td>@Model.Detail.Score</td>
                        </tr>
                        <tr>
                            <td class="item_title">联系电话:</td>
                            <td>@Model.Detail.Phone</td>
                            <td class="item_title">联系人:</td>
                            <td colspan="3">@Model.Detail.Contacts</td>

                        </tr>
                        <tr>
                            <td class="item_title">服务描述:</td>
                            <td colspan="5">@Model.Detail.Desc</td>

                        </tr>
                        <tr>
                            <td class="item_title">自愿者帮助说明:</td>
                            <td colspan="5">@Model.Detail.VHelpDesc</td>

                        </tr>
                    </table>

            </div>*@

    </div>
    </form>
    <div class=" text-center"><a href="javascript:void(0)" style=" margin-left:50%; margin-right:auto;" class="easyui-linkbutton" onclick="submitForm()">核实完成保存数据给自愿者增加积分</a> </div>
    <script>

        function submitForm() {

            if (confirm("确定提交数据吗？")) {
                $('#PostUserApplyServiceDetail').submit();
            }
        }
    </script>
