@model BackWebAdmin.Models.RoleModel
  <style>
      .panel-tool {
          width: 95%;
          float: left;
      }
      .item_title {
           background:none;
      }

  </style>

<div id="tt">
    <a href="@Url.Action("Index", "Role")" style=" width:100px;">返回列表</a>
</div>
<div id="p" class="easyui-panel" title="新增" style="height:530px;padding:10px;"
     data-options="iconCls:'icon-add',closable:false,tools:'#tt'">


    @using (Html.BeginForm("PostAdd", "Role", FormMethod.Post, new { name = "AddForm", id = "AddForm" }))
    {
        <table class="form">
         
            <tr>
                <td class="item_title">
                    名称:
                </td>
                <td class="item_input">
                    <input type="text" class="textbox require" name="Name" />
                </td>
            </tr>
            <tr>
                <td class="item_title">
                    状态:
                </td>
                <td class="item_input">
                    <label>有效<input type="radio" name="IsEffect" value="true" @(Model.IsEffect ? "checked=\"checked\"" : "") /></label>
                    <label>无效<input type="radio" name="IsEffect" value="false" @(!Model.IsEffect ? "checked=\"checked\"" : "") /></label>
                </td>
            </tr>
            <tr>
                <td class="item_title"></td>
                <td class="item_input">
                    <table class="access_list" style="width: 100%">
                        @foreach (var module in Model.Modules)
                        {
                            <tr>
                                <td class="access_left" style="width: 180px;">
                                    <span title="@module.Value">@module.Name</span>
                                    &nbsp;&nbsp;全选
                                    <input type="checkbox" value="@module.Value" name="RoleModule" onclick="check_module(this);" />
                                </td>
                                <td>
                                    @foreach (var node in module.RoleNodes)
                                    {
                                        <label style="padding:5px;">
                                            <span title="index">@node.Name</span>
                                            <input type="checkbox" value="@node.Value" name="RoleNode" class="node_item" onclick="check_is_all(this);" />
                                        </label>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
            <tr>
                <td class="item_title2"></td>
                <td class="item_input2">
                    <!--隐藏元素-->
                    @*<input type="submit" class="searchbox-button" value="新增" />
                    <input type="reset" class="datebox-button" value="重置" />*@
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">新增</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">重置</a>
                </td>
            </tr>
        
        </table>
    }
</div>
<script>
    function submitForm() {
      // var url = "/SocSer/PostNoTakeIn" + '?detailId=' + id + "&state=" + state + "&msg=" + msg;
        $('#AddForm').submit();
    }
    function clearForm() {
        $('#AddForm').form('clear');
    }
</script>