@using Common;
@model  IplusOAEntity.SuperviseEntityClone


<style>
    .panel-tool {
        width: 95%;
        float: left;
    }

    .item_title {
        background: none;
    }
</style>






<div id="tt">
    @*<a href="@Url.Action("Index", "ts")" style=" width:100px;">返回列表</a>*@
    <a href="@HttpContext.Current.Request.UrlReferrer" style=" width:100px;padding-left:20px;">返回列表</a>
</div>
<div id="p" class="easyui-panel" title="新增" style="height:530px;padding:10px;"
     data-options="iconCls:'icon-add',closable:false,tools:'#tt'">

    <form name="postedit" action="@Url.Action("PostEdit")" id="postedit" method="post" enctype="multipart/form-data">
        <table class="form" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td class="item_title">投诉时间:</td>
                    <td class="item_input">
                        <div>@Model.AddTime.ToString("yyyy-MM-dd HH:mm")</div>
                    </td>
                </tr>
                <tr>
                    <td class="item_title">投诉用户电话:</td>
                    <td class="item_input">
                     <div>@Model.volEntity.Phone</div>
                    </td>
                </tr>
                <tr>
                    <td class="item_title">投诉用户社区:</td>
                    <td class="item_input">
                        <div>@Model.DepName</div>
                    </td>
                </tr>
                <tr>
                    <td class="item_title">投诉用户地址:</td>
                    <td class="item_input">
                        <div>@Model.Address</div>
                        <span style="margin-top:20px; float:right;"><a href="javascript:void(0)" class="easyui-linkbutton" id="apply4">地图</a></span>
                    </td>
                </tr>
                <tr>
                    <td class="item_title">投诉用户真实姓名:</td>
                    <td class="item_input">
                        <div>@(Model.volEntity.RealName ?? Model.volEntity.UerName)</div>
                        @*<div>@Model.volEntity.UerName</div>*@
                    </td>
                </tr>
                <tr>
                    <td class="item_title">投诉照片:</td>
                    <td class="item_input">
                        <div id="imgQueue">
                            @if (!string.IsNullOrEmpty(Model.ImgUrl))
                            {
                                foreach (var item in Model.ImgUrl.Split('#'))
                                {
                                    if (!string.IsNullOrEmpty(item))
                                    {
                                        <a href="@item" target="_blank"><img src="@item" alt="" width="160" height="140" /></a>  
                                    }

                                }
                            }
                      
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="item_title">投诉内容:</td>
                    <td class="item_input">
                        <div>
                         @Html.Raw(Model.Content)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="item_title">回复内容:</td>
                    <td class="item_input"  style=" float:none;">
                    <input type="hidden"  id="id" value="@Model.Id"/>
                            <textarea class="textbox require" id="msg" name="Msg" rows="5" cols="60">@Model.Msg </textarea>
                        <a href="javascript:void(0)" class="easyui-linkbutton" style=" margin-top:-80px; vertical-align:middle; "  id="apply">回复并赠予积分</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" style=" margin-top:-80px; vertical-align:middle; " id="apply2">回复</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" style=" margin-top:-80px; vertical-align:middle; " id="apply3">提交12345</a>
                      
                    
                    </td>
                </tr>
                    @if (!string.IsNullOrEmpty(Model.Msg))
                    { 
                    <tr>
                        <td class="item_title">居民评价状态:</td>
                        <td class="item_input">
                           待评价
                        </td>
                    </tr>
                    }
                    
                <tr>
                    <td class="item_title">网格员姓名:</td>
                    <td class="item_input">
                        <div>
                            @Html.Raw(((Model.GridMember??new IplusOAEntity.GridMember())??new IplusOAEntity.GridMember()).GridName)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="item_title">网格员电话:</td>
                    <td class="item_input">
                        <div>
                            @Html.Raw((Model.GridMember??new IplusOAEntity.GridMember()).GridPhone)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="item_title">网格员头像:</td>
                    <td class="item_input">
                    
                            @if (!string.IsNullOrEmpty((Model.GridMember??new IplusOAEntity.GridMember()).GridHeaderImg))
                            {
                                foreach (var item in (Model.GridMember??new IplusOAEntity.GridMember()).GridHeaderImg.Split('#'))
                                {
                                    if (!string.IsNullOrEmpty(item))
                                    {
                                        <a href="@item" target="_blank"><img src="@item" alt="" width="160" height="140" /></a>
                                    }

                                }
                            }

                      
                    </td>
                </tr>
            </tbody>
        </table>
    
    </form>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=FNPl3QNuzUBsWMRXUSolYLk1"></script>
    <script type="text/javascript">

   
    $(document).ready(function () {


        function ShowMap(id) {

            var url = '@Url.Action("ShowMap")' + "?id="+id;

            showAjaxResult(url, "地图", 750, 500);
        }
        $("#apply4").click(function () {
            var id = $("#id").val();
            ShowMap(id);

            /*var map = new BMap.Map("container", { mapType: BMAP_SATELLITE_MAP });
            var point = new BMap.Point(106.673397, 26.440882);
            map.centerAndZoom(point, 18);


            var marker = new BMap.Marker(point);  // 创建标注
            map.addOverlay(marker);
            var label = new BMap.Label("我是文字标注哦", { offset: new BMap.Size(20, -10) });
            marker.setLabel(label);
            */
          

        });

        function AdminApply(id, state, msg) {

            var url = "/ts/AdminApply" + '?id=' + id + "&state=" + state + "&msg=" + msg;
            url = encodeURI(url);
            $.ajax({
                url: url,
                type: 'POST',
                dataType: "json",
                success: function (obj) {
                    $("#info").html(obj.Info);
                    if (obj.Status == true)
                        alert("操作完成");
                        location.href = location.href;
                }
            });
        }

        $("#apply,#apply2,#apply3").click(function () {

            var id = $("#id").val();
            var msg = $("#msg").val();
            var state = 1;
            AdminApply(id, state, msg);

        });




   

    });



    </script>

  



</div>

