@using Common;
@model   IplusOAEntity.BackAdminUser
<script type="text/javascript">
    function check_incharge_form() {

        return true;
    }
</script>
<div class="main">

    <div class="blank5"></div>
    <form name="edit" action="@Url.Action("PostEdit")" method="post" enctype="multipart/form-data" onsubmit="return check_incharge_form();">
        <table class="form" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td colspan="2" class="topTd"></td>
                </tr>
                <tr>
                    <td class="item_title">
                        角色组:
                    </td>
                    <td class="item_input">
                        <select name="RoleId">
                            @foreach (var role in ViewData["UserRole"] as IList<IplusOAEntity.RoleEntity> ?? new List<IplusOAEntity.RoleEntity>())
                                    {
                                        <option value="@role.Id" @(Model.Id == @role.Id ? "selected=\"selected\"" : "")>@role.Name</option>
                                    }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="item_title">
                        行政级别:
                    </td>
                    <td class="item_input">
                        <select name="DeptId">
                            @foreach (var dep in ViewData["Department_List"] as IList<IplusOAEntity.DepartmentEntity> ?? new List<IplusOAEntity.DepartmentEntity>())
                                {
                                    <option value="@dep.Id" @(Model.Id == @dep.Id ? "selected=\"selected\"" : "")>@dep.Name</option>
                                }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="item_title">
                        社会组织:
                    </td>
                    <td class="item_input">
                        <select name="SocOrgId">
                            @foreach (var soc in ViewData["SocialOrg_List"] as IList<IplusOAEntity.SocialOrgEntity> ?? new List<IplusOAEntity.SocialOrgEntity>())
                                {
                                    <option value="@soc.Id" @(Model.Id == @soc.Id ? "selected=\"selected\"" : "")>@soc.Name</option>
                                }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="item_title">真实姓名:</td>
                    <td class="item_input"><input type="text" class="textbox require" name="RealName" value="@Model.RealName" /></td>
                </tr>
                <tr>
                    <td class="item_title">用户名:</td>
                    <td class="item_input"><input type="text" class="textbox require" name="UserName" value="@Model.UserName" /> 
                    <input  type="hidden" class="textbox require" name="Id" value="@Model.Id" /></td>
                   
                </tr>
                @*<tr>
                    <td class="item_title">密码:</td>
                    <td class="item_input">
                        <input id="PassWord" name="PassWord" class="textbox require" type="text" />
                    </td>
                </tr>*@

                <tr>
                    <td class="item_title"></td>
                    <td class="item_input">
                        <input type="submit" class="button" value="修改">
                        @*<input type="reset" class="button" value="重置">*@
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="bottomTd"></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>